absl-py
accelerate
aiobotocore
aiofiles
aiohttp
aioitertools
aiosignal
aiosqlite
alabaster
anyio
appdirs
APScheduler
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
assemblyai
astroid
astropy
asttokens
astunparse
async-lru
async-timeout
atomicwrites
attrs
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
boltons
botocore
Bottleneck
Brotli
brotlipy
bs4
cachetools
certifi
cffi
chardet
charset-normalizer
chess
click
cloudpickle
clyent
colorama
colorcet
comm
constantly
contourpy
cookiecutter
cryptography
cssselect
customtkinter
cycler
cytoolz
daal4py
darkdetect
dask
datasets
datashader
datashape
debugpy
decorator
defusedxml
dialogflow
diff-match-patch
diffusers
dill
distributed
distro
Django
docstring-to-markdown
docutils
edge-tts
emoji
entrypoints
et-xmlfile
executing
fake-useragent
fastjsonschema
feedparser
filelock
flake8
Flask
Flask-Cors
flatbuffers
fonttools
frozenlist
fsspec
future
fuzzywuzzy
g4f
gast
gensim
Geometry
glob2
google-pasta
googleapis-common-protos
graphviz
greenlet
grpcio
grpcio-status
gunicorn
gym
gym-notices
h11
h5py
HeapDict
holoviews
html5lib
httpcore
httplib2
httpx
huggingface-hub
hvplot
hyperlink
idna
imagecodecs
imageio
imageio-ffmpeg
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kaleido
keras
keyring
kiwisolver
lazy-object-proxy
lazy_loader
libarchive-c
libclang
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
mkl-fft
mkl-random
mkl-service
ml-dtypes
more-itertools
MouseInfo
moviepy
mpmath
msgpack
mss
multidict
multipledispatch
multiprocess
munkres
mypy-extensions
navigator-updater
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
np-utils
numba
numexpr
numpy
numpydoc
oauth2client
oauthlib
openai
opencv-python
openpyxl
opt-einsum
outcome
overrides
packaging
pandas
pandoc
pandocfilters
panel
param
paramiko
parsel
parso
partd
pathlib
pathspec
patsy
pep8
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs
playsound
plotly
pluggy
plumbum
ply
poyo
proglog
prometheus-client
prompt-toolkit
Protego
proto-plus
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules
PyAutoGUI
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
PyDispatcher
pydocstyle
pydotplus
pyerfa
pyflakes
pygame
PyGetWindow
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder
PyMsgBox
PyNaCl
pynput
pyodbc
pyOpenSSL
pyparsing
pyperclip
PyQt5
PyQt5-sip
PyQtWebEngine
PyRect
pyrsistent
PyScreeze
PySocks
pytesseract
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
python-snappy
python-telegram-bot
pytoolconfig
pytweening
pytz
pyviz-comms
PyWavelets
pywin32
pywin32-ctypes
pywinpty
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
referencing
regex
requests
requests-file
requests-oauthlib
requests-toolbelt
responses
rfc3339-validator
rfc3986-validator
rope
rpds-py
rsa
Rtree
ruamel-yaml-conda
ruamel.yaml
s3fs
safetensors
scikit-image
scikit-learn
scikit-learn-intelex
scipy
Scrapy
seaborn
selenium
Send2Trash
service-identity
sgmllib3k
sip
six
smart-open
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
sqlparse
srt
srt_equalizer
stack-data
statsmodels
sympy
tables
tabulate
TBB
tblib
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers
toml
tomlkit
toolz
torch
tornado
tqdm
traitlets
transformers
trio
trio-websocket
Twisted
twisted-iocpsupport
typing_extensions
tzdata
tzlocal
uc-micro-py
ujson
undetected-chromedriver
Unidecode
uritemplate
urllib3
visualize
w3lib
watchdog
wcwidth
webencodings
websocket-client
websockets
Werkzeug
whatthepatch
widgetsnbextension
win-inet-pton
wrapt
wsproto
xarray
xlwings
xmltodict
xxhash
xyzservices
y-py
yapf
yarl
ypy-websocket
zict
zipp
zope.interface
zstandard
